<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsut.zachweb.dao.UserAdMapper" >
  <resultMap id="BaseResultMap" type="com.jsut.zachweb.model.UserAd" >
    <id column="sys_id" property="sysId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="ad_id" property="adId" jdbcType="INTEGER" />
    <result column="collect_time" property="collectTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    sys_id, user_id, ad_id, collect_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from user_ad
    where sys_id = #{sysId,jdbcType=VARCHAR}
  </select>
  <select id="selectByAdIdAndUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from user_ad
    where ad_id = #{adId,jdbcType=INTEGER} AND user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user_ad
    where sys_id = #{sysId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByAdIdAndUserId" parameterType="java.lang.Integer" >
    delete from user_ad
    where ad_id = #{adId,jdbcType=INTEGER} AND user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jsut.zachweb.model.UserAd" >
    insert into user_ad (sys_id, user_id, ad_id, 
      collect_time)
    values (#{sysId,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{adId,jdbcType=INTEGER}, 
      #{collectTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jsut.zachweb.model.UserAd" >
    insert into user_ad
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sysId != null" >
        sys_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="adId != null" >
        ad_id,
      </if>
      <if test="collectTime != null" >
        collect_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sysId != null" >
        #{sysId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="adId != null" >
        #{adId,jdbcType=INTEGER},
      </if>
      <if test="collectTime != null" >
        #{collectTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jsut.zachweb.model.UserAd" >
    update user_ad
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="adId != null" >
        ad_id = #{adId,jdbcType=INTEGER},
      </if>
      <if test="collectTime != null" >
        collect_time = #{collectTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where sys_id = #{sysId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jsut.zachweb.model.UserAd" >
    update user_ad
    set user_id = #{userId,jdbcType=INTEGER},
      ad_id = #{adId,jdbcType=INTEGER},
      collect_time = #{collectTime,jdbcType=TIMESTAMP}
    where sys_id = #{sysId,jdbcType=VARCHAR}
  </update>
</mapper>